{% extends 'base.html.twig' %}

{% block title %}Teachers index{% endblock %}

{% block body %}
    <h1>Teachers index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Last_name</th>
                <th>First_name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for teacher in teachers %}
            <tr>
                <td>{{ teacher.id }}</td>
                <td>{{ teacher.lastName }}</td>
                <td>{{ teacher.firstName }}</td>
                <td>
                    <a href="{{ path('app_teachers_show', {'id': teacher.id}) }}">show</a>
                    <a href="{{ path('app_teachers_edit', {'id': teacher.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_teachers_new') }}">Create new</a>
{% endblock %}
