{% extends 'base.html.twig' %}

{% block title %}Students{% endblock %}

{% block body %}
    <h1>Students</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ student.id }}</td>
            </tr>
            <tr>
                <th>Last_name</th>
                <td>{{ student.lastName }}</td>
            </tr>
            <tr>
                <th>First_name</th>
                <td>{{ student.firstName }}</td>
            </tr>
            <tr>
                <th>Birth_date</th>
                <td>{{ student.birthDate ? student.birthDate|date('Y-m-d') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_students_index') }}">back to list</a>

    <a href="{{ path('app_students_edit', {'id': student.id}) }}">edit</a>

    {{ include('students/_delete_form.html.twig') }}
{% endblock %}
